anthropic==0.8.0
python-dotenv==1.0.0
pygooglenews==0.1.2
selenium==4.15.2
webdriver-manager==4.0.1
langchain-huggingface==0.0.8
langchain-community==0.0.12
langchain-text-splitters==0.0.1
langchain==0.0.335
sentence-transformers==2.2.2
faiss-cpu==1.7.4
